# OS/Editor Metafiles
.DS_Store
.vscode/

# pyenv Metafiles
.python-version

# Precompiled files
__pycache__/
.mypy_cache/
chaskey/_version.py

# Python distribution / packaging
build/
*.egg-info/

# Possible temporary testing files
*.log
cli_proxy.py
samples/*/*
bin_samples/*
inst_*
mod_*
